<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="РегистрантКПП.Registrant" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="РегистрантКПП.Registrant" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings><add name="RegistrantEntities" connectionString="" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <РегистрантКПП.Registrant>
      <setting name="IP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value>1433</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>Registrant</value>
      </setting>
      <setting name="LOGIN" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="PASSWORD" serializeAs="String">
        <value>1234</value>
      </setting>
    </РегистрантКПП.Registrant>
  </userSettings>
  <applicationSettings>
    <РегистрантКПП.Registrant>
      <setting name="NamePC" serializeAs="String">
        <value />
      </setting>
    </РегистрантКПП.Registrant>
  </applicationSettings>
</configuration>